<header vue-app class="py-3 bg-primary">
  <header-vue inline-template>
    <div class="container">
      <div class="flex items-center justify-between p">
        <div class="flex items-center space-x-3">
          <span class="w-9">{% render 'icon', icon: 'logo' %}</span>
          <p class="text-white uppercase">{{ shop.name }}</p>
        </div>
        <div class="relative flex items-center w-10 text-white">
          {% render 'icon', icon: 'cart', class: 'flex-none' %}
          <span>${cart}</span>
        </div>
      </div>
    </div>
  </header-vue>
</header>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}
